@media (max-width: 576px){ 
    .logo{
      width: 20%;
    }

    .overlay {
      position: absolute;
      /* Ajusta la posición vertical del texto */
      left: 16%;
      right: 10%; /* Ajusta la posición horizontal del overlay */
      bottom: 20%; /* Ajusta la posición vertical del overlay */
      color: white;
      z-index: 1;
    }
      
    .buttons-responsive{
       font-size: 12px;
    }
    .title-banner{
      font-size: 16px;
    }

    .space1{
      margin-top: 70px;
    }

    .text-banner{
      padding-left: 5%;
    }


  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo{
      width: 20%;
    }
    .overlay {
      position: absolute;
      /* Ajusta la posición vertical del texto */
      left: 12%;
      right: 10%; /* Ajusta la posición horizontal del overlay */
      bottom: 30%; /* Ajusta la posición vertical del overlay */
      color: white;
      z-index: 1;
    }
}

